main{
    margin: 10px 5px 10px 5px;
    background-color: rgb(238,238,238)
}
body{
    color:rgb(51,51,51);
    text-align: center;
}

#img-div{
    margin: 20px 10px 10px 10px;
    background-color: white;
}
#img-div p{
    padding-bottom: 10px;
}
#image{
    width:100%;
    max-width: 1024px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}